html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
html body {
  height: 100vh;
  font-family: Heiti SC;
  color: #4a4e69;
  background-color: #ffffff; }
  html body a {
    color: #4a4e69; }
    html body a:visited {
      color: #4a4e69; }
  html body h1 {
    font-size: 2.5rem; }
    @media screen and (min-width: 600px) {
      html body h1 {
        font-size: 3.5rem; } }
    @media screen and (min-width: 800px) {
      html body h1 {
        font-size: 4.5rem; } }
  html body h2 {
    font-size: 2rem; }
    @media screen and (min-width: 600px) {
      html body h2 {
        font-size: 3rem; } }
    @media screen and (min-width: 800px) {
      html body h2 {
        font-size: 4rem; } }
  html body h3 {
    font-size: 1.66rem; }
    @media screen and (min-width: 600px) {
      html body h3 {
        font-size: 2.66rem; } }
    @media screen and (min-width: 800px) {
      html body h3 {
        font-size: 3.5rem; } }
  html body h4 {
    font-size: 1.5rem; }
    @media screen and (min-width: 600px) {
      html body h4 {
        font-size: 2.33rem; } }
    @media screen and (min-width: 800px) {
      html body h4 {
        font-size: 3rem; } }
  html body h5 {
    font-size: 1.33rem; }
    @media screen and (min-width: 600px) {
      html body h5 {
        font-size: 2rem; } }
    @media screen and (min-width: 800px) {
      html body h5 {
        font-size: 2.5rem; } }
  html body h6 {
    font-size: 1.15rem; }
    @media screen and (min-width: 600px) {
      html body h6 {
        font-size: 1.5rem; } }
    @media screen and (min-width: 800px) {
      html body h6 {
        font-size: 2rem; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.blog-list .blog-list__post {
  padding: 2rem 0; }
  .blog-list .blog-list__post .blog-list__header {
    text-align: center; }
    .blog-list .blog-list__post .blog-list__header a {
      text-decoration: none; }
  .blog-list .blog-list__post .blog-list__excerpt {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    .blog-list .blog-list__post .blog-list__excerpt img {
      width: 100%; }
    .blog-list .blog-list__post .blog-list__excerpt p {
      margin: 1.5rem 0;
      line-height: 1.5rem;
      text-align: justify;
      text-justify: inter-word; }
      .blog-list .blog-list__post .blog-list__excerpt p:first-child {
        margin-top: 0; }
      .blog-list .blog-list__post .blog-list__excerpt p:last-child {
        margin-bottom: 0; }
    .blog-list .blog-list__post .blog-list__excerpt strong, .blog-list .blog-list__post .blog-list__excerpt b {
      font-weight: bold; }
    .blog-list .blog-list__post .blog-list__excerpt i, .blog-list .blog-list__post .blog-list__excerpt em {
      font-style: italic; }
    .blog-list .blog-list__post .blog-list__excerpt mark {
      background-color: #FFF785; }
    .blog-list .blog-list__post .blog-list__excerpt ol, .blog-list .blog-list__post .blog-list__excerpt ul {
      margin: 2rem 0;
      padding-left: 1rem; }
      .blog-list .blog-list__post .blog-list__excerpt ol ol, .blog-list .blog-list__post .blog-list__excerpt ol ul, .blog-list .blog-list__post .blog-list__excerpt ul ol, .blog-list .blog-list__post .blog-list__excerpt ul ul {
        margin: 1rem 0 0;
        padding-left: 2rem; }
    .blog-list .blog-list__post .blog-list__excerpt ul {
      list-style-type: circle; }
    .blog-list .blog-list__post .blog-list__excerpt ol {
      list-style-type: decimal; }
    .blog-list .blog-list__post .blog-list__excerpt li:not(:last-child) {
      padding-bottom: 1rem; }
    .blog-list .blog-list__post .blog-list__excerpt h1, .blog-list .blog-list__post .blog-list__excerpt h2, .blog-list .blog-list__post .blog-list__excerpt h3, .blog-list .blog-list__post .blog-list__excerpt h4, .blog-list .blog-list__post .blog-list__excerpt h5, .blog-list .blog-list__post .blog-list__excerpt h6 {
      font-size: 0.6em; }
  .blog-list .blog-list__post .blog-list__read-more {
    margin-top: 0.7rem;
    display: block; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100% !important;
  padding-top: 70px;
  min-height: 100%;
  margin-bottom: -65px; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content:after {
    content: "";
    display: block;
    height: 65px; }
  .content .content__main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .content .content__main:last-child {
      margin-right: 0; }
    @media screen and (min-width: 600px) {
      .content .content__main {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .content .content__main:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1080px) {
      .content .content__main {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 25.58941%; }
        .content .content__main:last-child {
          margin-right: 0; } }
    .content .content__main h1, .content .content__main h2, .content .content__main h3, .content .content__main h4, .content .content__main h5, .content .content__main h6 {
      padding: 1rem 0 1.5rem 0; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.footer {
  text-align: center;
  height: 65px;
  line-height: 65px;
  font-size: 0.85rem;
  font-weight: bold; }
  .footer .footer__content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.header {
  position: relative;
  margin-bottom: 3rem; }
  .header .header__background {
    height: 50vh;
    background-position: center;
    background-size: cover; }
    .header .header__background .header__content {
      text-align: center; }
      .header .header__background .header__content .header__logo {
        position: relative;
        top: 0; }
        .header .header__background .header__content .header__logo img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
          height: 50vh; }
      .header .header__background .header__content .header__text {
        padding-top: 20%;
        color: #ffffff; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.home-page .header__background {
  height: 75vh; }
  .home-page .header__background .header__content .header__logo img {
    height: 75vh; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.header {
  position: relative;
  margin-bottom: 3rem; }
  .header .header__background {
    height: 50vh;
    background-position: center;
    background-size: cover; }
    .header .header__background .header__content {
      text-align: center; }
      .header .header__background .header__content .header__logo {
        position: relative;
        top: 0; }
        .header .header__background .header__content .header__logo img {
          -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
          height: 50vh; }
      .header .header__background .header__content .header__text {
        padding-top: 20%;
        color: #ffffff; }

.home-page .header__background {
  height: 75vh; }
  .home-page .header__background .header__content .header__logo img {
    height: 75vh; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.navigation {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #ffffff;
  text-align: center; }
  .navigation .navigation__logo {
    background-image: url(/assets/images/nav_logo.png);
    background-size: contain;
    display: inline-block;
    margin-top: 7px;
    margin-left: 0.3rem;
    width: 42px;
    height: 56px;
    left: 50%;
    margin-left: -21px;
    position: absolute;
    z-index: 1; }
  .navigation ul.navigation__list {
    vertical-align: middle;
    width: 100%;
    height: 35px;
    padding: 0;
    padding-left: 2.66rem; }
    .navigation ul.navigation__list li.navigation__list-item {
      display: inline-block;
      padding: 0 1rem; }
      .navigation ul.navigation__list li.navigation__list-item:nth-child(2) {
        padding-right: 4rem; }
      .navigation ul.navigation__list li.navigation__list-item:nth-child(3) {
        padding-left: 4rem; }
      .navigation ul.navigation__list li.navigation__list-item a.navigation__list-item-link {
        text-decoration: none;
        color: #4a4e69;
        font-weight: 700; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .page-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    .content .page-content:last-child {
      margin-right: 0; }
    @media screen and (min-width: 600px) {
      .content .page-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .content .page-content:last-child {
          margin-right: 0; } }
.pagination {
  position: relative;
  padding: 1.5rem 0; }
  .pagination .pagination__link {
    position: absolute; }
    .pagination .pagination__link.pagination__link--newer-posts {
      left: 0; }
    .pagination .pagination__link.pagination__link--older-posts {
      right: 0; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.post .post__header {
  position: relative;
  margin-bottom: 3rem;
  color: #ffffff; }
  .post .post__header.post__header--no-image {
    color: #4a4e69;
    margin-bottom: 0; }
  .post .post__header .post__header-background {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 20rem; }
    .post .post__header .post__header-background .post__header-content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      padding: 2rem 0;
      text-align: center;
      line-height: 20rem; }
      .post .post__header .post__header-background .post__header-content:last-child {
        margin-right: 0; }
      @media screen and (min-width: 600px) {
        .post .post__header .post__header-background .post__header-content {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%; }
          .post .post__header .post__header-background .post__header-content:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 1080px) {
        .post .post__header .post__header-background .post__header-content {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 25.58941%; }
          .post .post__header .post__header-background .post__header-content:last-child {
            margin-right: 0; } }
      .post .post__header .post__header-background .post__header-content .post__header-content-text {
        display: inline-block;
        vertical-align: middle;
        line-height: normal; }

.post .post__wrapper .post__content {
  padding-bottom: 2rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  .post .post__wrapper .post__content img {
    width: 100%; }
  .post .post__wrapper .post__content p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
    text-align: justify;
    text-justify: inter-word; }
    .post .post__wrapper .post__content p:first-child {
      margin-top: 0; }
    .post .post__wrapper .post__content p:last-child {
      margin-bottom: 0; }
  .post .post__wrapper .post__content strong, .post .post__wrapper .post__content b {
    font-weight: bold; }
  .post .post__wrapper .post__content i, .post .post__wrapper .post__content em {
    font-style: italic; }
  .post .post__wrapper .post__content mark {
    background-color: #FFF785; }
  .post .post__wrapper .post__content ol, .post .post__wrapper .post__content ul {
    margin: 2rem 0;
    padding-left: 1rem; }
    .post .post__wrapper .post__content ol ol, .post .post__wrapper .post__content ol ul, .post .post__wrapper .post__content ul ol, .post .post__wrapper .post__content ul ul {
      margin: 1rem 0 0;
      padding-left: 2rem; }
  .post .post__wrapper .post__content ul {
    list-style-type: circle; }
  .post .post__wrapper .post__content ol {
    list-style-type: decimal; }
  .post .post__wrapper .post__content li:not(:last-child) {
    padding-bottom: 1rem; }

.post .post__read-other .post__read-other-post {
  padding: 2rem 0 1rem; }
  .post .post__read-other .post__read-other-post.post__read-other-post--prev {
    float: right; }
  .post .post__read-other .post__read-other-post.post__read-other-post--next {
    float: left; }
