html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
html body {
  height: 100vh;
  font-family: Heiti SC;
  color: #000000;
  background-color: #ffffff; }
  html body .hidden {
    display: none; }
  html body a {
    color: #4a4e69; }
    html body a:visited {
      color: #4a4e69; }
  html body h1 {
    font-size: 2.5rem; }
    @media screen and (min-width: 600px) {
      html body h1 {
        font-size: 3.5rem; } }
    @media screen and (min-width: 800px) {
      html body h1 {
        font-size: 4.5rem; } }
  html body h2 {
    font-size: 2rem; }
    @media screen and (min-width: 600px) {
      html body h2 {
        font-size: 3rem; } }
    @media screen and (min-width: 800px) {
      html body h2 {
        font-size: 4rem; } }
  html body h3 {
    font-size: 1.66rem; }
    @media screen and (min-width: 600px) {
      html body h3 {
        font-size: 2.66rem; } }
    @media screen and (min-width: 800px) {
      html body h3 {
        font-size: 3.5rem; } }
  html body h4 {
    font-size: 1.5rem; }
    @media screen and (min-width: 600px) {
      html body h4 {
        font-size: 2.33rem; } }
    @media screen and (min-width: 800px) {
      html body h4 {
        font-size: 3rem; } }
  html body h5 {
    font-size: 1.33rem; }
    @media screen and (min-width: 600px) {
      html body h5 {
        font-size: 2rem; } }
    @media screen and (min-width: 800px) {
      html body h5 {
        font-size: 2.5rem; } }
  html body h6 {
    font-size: 1.15rem; }
    @media screen and (min-width: 600px) {
      html body h6 {
        font-size: 1.5rem; } }
    @media screen and (min-width: 800px) {
      html body h6 {
        font-size: 2rem; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.blog-list .blog-list__post {
  padding: 2rem 0; }
  .blog-list .blog-list__post .blog-list__header {
    text-align: center; }
    .blog-list .blog-list__post .blog-list__header a {
      text-decoration: none; }
  .blog-list .blog-list__post .blog-list__excerpt {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    .blog-list .blog-list__post .blog-list__excerpt img {
      width: 100%; }
    .blog-list .blog-list__post .blog-list__excerpt p {
      margin: 1.5rem 0;
      line-height: 1.5rem;
      text-align: justify;
      text-justify: inter-word; }
      .blog-list .blog-list__post .blog-list__excerpt p:first-child {
        margin-top: 0; }
      .blog-list .blog-list__post .blog-list__excerpt p:last-child {
        margin-bottom: 0; }
    .blog-list .blog-list__post .blog-list__excerpt strong, .blog-list .blog-list__post .blog-list__excerpt b {
      font-weight: bold; }
    .blog-list .blog-list__post .blog-list__excerpt i, .blog-list .blog-list__post .blog-list__excerpt em {
      font-style: italic; }
    .blog-list .blog-list__post .blog-list__excerpt mark {
      background-color: #FFF785; }
    .blog-list .blog-list__post .blog-list__excerpt ol, .blog-list .blog-list__post .blog-list__excerpt ul {
      margin: 2rem 0;
      padding-left: 1rem; }
      .blog-list .blog-list__post .blog-list__excerpt ol ol, .blog-list .blog-list__post .blog-list__excerpt ol ul, .blog-list .blog-list__post .blog-list__excerpt ul ol, .blog-list .blog-list__post .blog-list__excerpt ul ul {
        margin: 1rem 0 0;
        padding-left: 2rem; }
    .blog-list .blog-list__post .blog-list__excerpt ul {
      list-style-type: circle; }
    .blog-list .blog-list__post .blog-list__excerpt ol {
      list-style-type: decimal; }
    .blog-list .blog-list__post .blog-list__excerpt li:not(:last-child) {
      padding-bottom: 1rem; }
    .blog-list .blog-list__post .blog-list__excerpt h1, .blog-list .blog-list__post .blog-list__excerpt h2, .blog-list .blog-list__post .blog-list__excerpt h3, .blog-list .blog-list__post .blog-list__excerpt h4, .blog-list .blog-list__post .blog-list__excerpt h5, .blog-list .blog-list__post .blog-list__excerpt h6 {
      font-size: 0.6em; }
  .blog-list .blog-list__post .blog-list__read-more {
    margin-top: 0.7rem;
    display: block; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100% !important;
  min-height: 100%;
  margin-bottom: -65px; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content:after {
    content: "";
    display: block;
    height: 65px; }
  .content .content__main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .content .content__main:last-child {
      margin-right: 0; }
    @media screen and (min-width: 600px) {
      .content .content__main {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .content .content__main:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1080px) {
      .content .content__main {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 25.58941%; }
        .content .content__main:last-child {
          margin-right: 0; } }
    .content .content__main h1, .content .content__main h2, .content .content__main h3, .content .content__main h4, .content .content__main h5, .content .content__main h6 {
      padding: 1rem 0 1.5rem 0; }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.footer-images {
  padding-top: 2rem;
  text-align: center; }
  .footer-images .footer-images__image-link {
    display: inline-block;
    width: 33.33vw;
    height: 33.33vw;
    background-size: cover; }
    .footer-images .footer-images__image-link.footer-images__image-link--mobile-hide {
      display: none; }
    @media screen and (min-width: 600px) {
      .footer-images .footer-images__image-link {
        width: 16.66vw;
        height: 16.66vw; }
        .footer-images .footer-images__image-link.footer-images__image-link--mobile-hide {
          display: inline-block; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.footer {
  text-align: center;
  height: 65px;
  line-height: 65px;
  font-size: 0.75rem;
  font-weight: bold; }
  .footer .footer__content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal; }
  .footer .footer__section {
    margin: 0.35rem 0; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.header {
  position: relative;
  margin-bottom: 3rem; }
  .header .header__background {
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 600px) {
      .header .header__background {
        padding-top: 40px; } }
    @media screen and (min-width: 800px) {
      .header .header__background {
        padding-top: 70px; } }
    .header .header__background .header__content {
      text-align: center; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.home-template .header .header__background {
  height: 75vh;
  line-height: 75vh; }
  .home-template .header .header__background .header__content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    width: 100%; }
    .home-template .header .header__background .header__content .header__logo img {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      max-height: 75vh;
      max-width: 100%; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.page-template .header .header__background {
  height: 75vh; }
  .page-template .header .header__background .header__title {
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
    body.no-cover .page-template .header .header__background .header__title {
      -webkit-filter: brightness(0) invert(0);
      filter: brightness(0) invert(0); }

.page-blog .header__title {
  background-image: url(/assets/images/header__blog.png); }

.page-about .header__title {
  background-image: url(/assets/images/header__about.png); }

.page-podcast .header__title {
  background-image: url(/assets/images/header__podcast.png); }

.page-contact .header__title {
  background-image: url(/assets/images/header__contact.png); }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
body.no-scroll__navigation--mobile-menu {
  overflow: hidden; }

.navigation {
  position: absolute;
  top: 0;
  z-index: 1000; }
  .navigation, .navigation .navigation__list-item-link, .navigation a {
    color: #ffffff; }
  .navigation .navigation__logo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
  body.no-cover .navigation, body.no-cover .navigation .navigation__list-item-link, body.no-cover .navigation a {
    color: #000000; }
  body.no-cover .navigation .navigation__logo {
    -webkit-filter: brightness(0) invert(0);
    filter: brightness(0) invert(0); }
  .navigation .navigation__mobile-trigger {
    display: inline-block;
    padding: 0.4rem 0.6rem; }
  @media screen and (max-width: 599px) {
    .navigation .navigation__wrapper {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      background: #ffffff;
      bottom: 150vh;
      -webkit-transition: visibility 0s, opacity 0.1s linear;
      -moz-transition: visibility 0s, opacity 0.1s linear;
      transition: visibility 0s, opacity 0.1s linear; }
      .navigation .navigation__wrapper, .navigation .navigation__wrapper .navigation__list-item-link, .navigation .navigation__wrapper a {
        color: #000000; }
      .navigation .navigation__wrapper .navigation__logo {
        -webkit-filter: brightness(0) invert(0);
        filter: brightness(0) invert(0); }
      .navigation .navigation__wrapper.navigation__wrapper--show-mobile {
        visibility: visible;
        opacity: 1;
        top: 0;
        width: 100vw;
        height: 100vh; }
        .navigation .navigation__wrapper.navigation__wrapper--show-mobile .navigation__mobile-trigger {
          color: #000000; }
        .navigation .navigation__wrapper.navigation__wrapper--show-mobile .navigation__list {
          margin-top: 2rem;
          font-size: 2rem;
          text-align: center; }
          .navigation .navigation__wrapper.navigation__wrapper--show-mobile .navigation__list .navigation__list-item .navigation__list-item-link {
            padding-bottom: 0.5rem;
            display: block;
            text-decoration: none; } }
  .navigation .navigation__wrapper .navigation__logo {
    background-image: url(/assets/images/logo__nav.png);
    background-size: contain;
    display: inline-block;
    width: 82px;
    height: 32px;
    margin-top: 4px;
    margin-left: -41px;
    left: 50%;
    -webkit-transition: width height margin-top margin-left;
    -moz-transition: width height margin-top margin-left;
    transition: width height margin-top margin-left;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    transition-duration: 0.1s;
    position: absolute;
    z-index: 1; }
  @media screen and (min-width: 600px) {
    .navigation {
      position: fixed;
      width: 100%;
      height: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 0.75rem;
      -webkit-transition: height line-height font-size;
      -moz-transition: height line-height font-size;
      transition: height line-height font-size;
      -webkit-transition-duration: 0.1s;
      -moz-transition-duration: 0.1s;
      transition-duration: 0.1s; }
      body.scrolled .navigation {
        background: #ffffff; }
        body.scrolled .navigation, body.scrolled .navigation .navigation__list-item-link, body.scrolled .navigation a {
          color: #000000; }
        body.scrolled .navigation .navigation__logo {
          -webkit-filter: brightness(0) invert(0);
          filter: brightness(0) invert(0); }
      .navigation .navigation__mobile-trigger {
        display: none; }
      .navigation .navigation__wrapper {
        display: block; }
        .navigation .navigation__wrapper .navigation__list {
          vertical-align: middle;
          width: 100%;
          padding: 0;
          padding-left: 2.2rem;
          -webkit-transition: padding;
          -moz-transition: padding;
          transition: padding;
          -webkit-transition-duration: 0.1s;
          -moz-transition-duration: 0.1s;
          transition-duration: 0.1s; }
          .navigation .navigation__wrapper .navigation__list .navigation__list-item {
            display: inline-block;
            padding: 0 1rem;
            -webkit-transition: padding;
            -moz-transition: padding;
            transition: padding;
            -webkit-transition-duration: 0.1s;
            -moz-transition-duration: 0.1s;
            transition-duration: 0.1s; }
            .navigation .navigation__wrapper .navigation__list .navigation__list-item:nth-child(2) {
              padding-right: 3.5rem; }
            .navigation .navigation__wrapper .navigation__list .navigation__list-item:nth-child(3) {
              padding-left: 3.5rem; }
            .navigation .navigation__wrapper .navigation__list .navigation__list-item a.navigation__list-item-link {
              text-decoration: none;
              font-weight: 700; } }
  @media screen and (min-width: 800px) {
    body:not(.scrolled) .navigation {
      font-size: 1rem;
      height: 70px;
      line-height: 70px; }
      body:not(.scrolled) .navigation .navigation__logo {
        width: 143.5px;
        height: 56px;
        margin-top: 7px;
        margin-left: -71.75px; }
      body:not(.scrolled) .navigation ul.navigation__list {
        padding-left: 2.8rem; }
        body:not(.scrolled) .navigation ul.navigation__list li.navigation__list-item:nth-child(2) {
          padding-right: 5.3rem; }
        body:not(.scrolled) .navigation ul.navigation__list li.navigation__list-item:nth-child(3) {
          padding-left: 5.3rem; } }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  .content .page-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    .content .page-content:last-child {
      margin-right: 0; }
    @media screen and (min-width: 600px) {
      .content .page-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .content .page-content:last-child {
          margin-right: 0; } }
.pagination {
  position: relative;
  padding: 1.5rem 0; }
  .pagination .pagination__link {
    position: absolute; }
    .pagination .pagination__link.pagination__link--newer-posts {
      left: 0; }
    .pagination .pagination__link.pagination__link--older-posts {
      right: 0; }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
.post .post__header {
  position: relative;
  margin-bottom: 3rem;
  color: #ffffff; }
  body.no-cover .post .post__header {
    color: #000000;
    margin-bottom: 0; }
  .post .post__header .post__header-background {
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height: 20rem; }
    @media screen and (min-width: 600px) {
      .post .post__header .post__header-background {
        padding-top: 40px; } }
    @media screen and (min-width: 800px) {
      .post .post__header .post__header-background {
        padding-top: 70px; } }
    .post .post__header .post__header-background .post__header-content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      padding: 2rem 0;
      text-align: center;
      line-height: 20rem; }
      .post .post__header .post__header-background .post__header-content:last-child {
        margin-right: 0; }
      @media screen and (min-width: 600px) {
        .post .post__header .post__header-background .post__header-content {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 65.88078%;
          margin-left: 17.05961%; }
          .post .post__header .post__header-background .post__header-content:last-child {
            margin-right: 0; } }
      @media screen and (min-width: 1080px) {
        .post .post__header .post__header-background .post__header-content {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-left: 25.58941%; }
          .post .post__header .post__header-background .post__header-content:last-child {
            margin-right: 0; } }
      .post .post__header .post__header-background .post__header-content .post__header-content-text {
        display: inline-block;
        vertical-align: middle;
        line-height: normal; }
        .post .post__header .post__header-background .post__header-content .post__header-content-text .post__date {
          padding-top: 15px;
          display: block; }

.post .post__wrapper .post__content {
  padding-bottom: 2rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  .post .post__wrapper .post__content img {
    width: 100%; }
  .post .post__wrapper .post__content p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
    text-align: justify;
    text-justify: inter-word; }
    .post .post__wrapper .post__content p:first-child {
      margin-top: 0; }
    .post .post__wrapper .post__content p:last-child {
      margin-bottom: 0; }
  .post .post__wrapper .post__content strong, .post .post__wrapper .post__content b {
    font-weight: bold; }
  .post .post__wrapper .post__content i, .post .post__wrapper .post__content em {
    font-style: italic; }
  .post .post__wrapper .post__content mark {
    background-color: #FFF785; }
  .post .post__wrapper .post__content ol, .post .post__wrapper .post__content ul {
    margin: 2rem 0;
    padding-left: 1rem; }
    .post .post__wrapper .post__content ol ol, .post .post__wrapper .post__content ol ul, .post .post__wrapper .post__content ul ol, .post .post__wrapper .post__content ul ul {
      margin: 1rem 0 0;
      padding-left: 2rem; }
  .post .post__wrapper .post__content ul {
    list-style-type: circle; }
  .post .post__wrapper .post__content ol {
    list-style-type: decimal; }
  .post .post__wrapper .post__content li:not(:last-child) {
    padding-bottom: 1rem; }

.post .post__share {
  text-align: center; }
  .post .post__share .post__share-title {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem; }
  .post .post__share .post__share-link {
    color: #000000;
    text-decoration: none; }
    .post .post__share .post__share-link:nth-of-type(2n) {
      margin: 0 4.1rem 0 4rem; }

.post .post__read-other .post__read-other-post {
  padding: 2rem 0 1rem; }
  .post .post__read-other .post__read-other-post.post__read-other-post--prev {
    float: right; }
  .post .post__read-other .post__read-other-post.post__read-other-post--next {
    float: left; }
