@import '../config/config';

.header {
  position: relative;
  margin-bottom: 3rem;

  .header__background {
    height: $page__header-height;
    background-position: center;
    background-size: cover;
    @include navigation-responsive-height(padding-top);

    .header__content {
      text-align: center;
      .header__logo {
        position: relative;
        top: 0;
        img {
          @include filter(brightness(0) invert(1));
          height: $page__header-height;
        }
      }
      .header__text {
        padding-top: 20%;
        color: $white;
      }
    }
  }
}
