@import '../config/config';

.header {
  position: relative;
  margin-bottom: 1.5rem;

  @include media($breakpoint-sm) {
    margin-bottom: 3rem;
  }
  .header__background {
    background-position: center;
    background-size: cover;
    @include navigation-responsive-height(padding-top);
    .header__content {
      text-align: center;
    }
  }
}
