@import '../config/config';

.home-template .header {
  .header__background {
    height: $home__header-height;
    line-height: $home__header-height;
    .header__content {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      width: 100%;
      .header__logo {
        img {
          @include filter(brightness(0) invert(1));
          max-height: $home__header-height;
          max-width: 100%;
        }
      }
    }
  }
}
