@import '../config/config';

.page-template .header {
  .header__background {
    height: $page__header-height;
    .header__content {
      .header__text {
        padding-top: 20%;
        color: $white;
      }
    }
  }
}
