@import '../config/config';

.content {
  @include outer-container;
  max-width: 100% !important;


  // sticky footer
  min-height: 100%;
  margin-bottom: -$footer-height;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }

  .content__main {
    @include main-content-grid;

    h1, h2, h3, h4, h5, h6 {
      padding: 1rem 0 1.5rem 0;
    }
  }
}
