@import '../config/config';

.navigation {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: $navigation-height;
  line-height: $navigation-height;
  background: $white;
  text-align: center;

  .navigation__logo {
    background-image: url(/assets/images/nav_logo.png);
    background-size: contain;
    display: inline-block;
    margin-top: $navigation-height * 0.1;
    margin-left: 0.3rem;
    width: $navigation-logo-width;
    height: $navigation-logo-height;
    left: 50%;
    margin-left: -($navigation-logo-width/2);

    position: absolute;
    z-index: 1;
  }

  ul.navigation__list {
    vertical-align: middle;
    width: 100%;
    height: $navigation-height / 2;
    padding: 0;

    // to center around the logo
    padding-left: 2.66rem;

    li.navigation__list-item {
      display: inline-block;
      padding: 0 1rem;

      &:nth-child(2) {
        padding-right: 4rem;
      }
      &:nth-child(3) {
        padding-left: 4rem;
      }

      a.navigation__list-item-link {
        text-decoration: none;
        color: $base-text-color;
        font-weight: 700;
      }
    }
  }
}
