@import '../config/config';

.navigation {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: $navigation-height;
  background: $white;
  text-align: center;
  ul.navigation__list {
    position: absolute;
    top: 50%;
    width: 100%;
    height: $navigation-height / 2;
    margin-top: -($navigation-height / 8);

    padding: 0;
    li.navigation__list-item {
      display: inline-block;
      padding: 0 1rem;
      a.navigation__list-item-link {
        text-decoration: none;
        color: $black;
        font-weight: 700;
      }
    }
  }
}
