@import '../config/config';

body.no-scroll__navigation--mobile-menu {
  overflow: hidden;
}

.navigation {
  // adjust navigation if there is no image
  @include navigation-colors-white(true);
  body.no-cover & {
    @include navigation-colors-white(false);
  }

  // Mobile resolution
  // -----------------
  position: absolute;
  top: 0;
  z-index: 1000;
  .navigation__mobile-trigger {
    display: inline-block;
    padding: 0.4rem 0.6rem;
  }
  .navigation__wrapper {
    // only include mobile menu styles on mobile
    @include media(max-width $navigation__breakpoint-sm - 1) {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      background: $white;
      @include navigation-colors-white(false);

      // hide off top of screen to allow fade transitioning
      bottom: 150vh;
      @include transition(visibility 0s, opacity $navigation__transition-duration linear)

      &.navigation__wrapper--show-mobile {
        visibility: visible;
        opacity: 1;

        top: 0;
        width: 100vw;
        height: 100vh;
        .navigation__mobile-trigger {
          color: $black;
        }
        .navigation__list {
          margin-top: 2rem;
          font-size: 2rem;
          text-align: center;
          .navigation__list-item {
            .navigation__list-item-link {
              padding-bottom: 0.5rem;
              display: block;
              text-decoration: none;
            }
          }
        }
      }
    }

    .navigation__logo {
      background-image: url(/assets/images/logo__nav.png);
      background-size: contain;
      display: inline-block;
      width: $navigation__logo-width--min;
      height: $navigation__logo-height--min;
      margin-top: $navigation__height--min * 0.1;
      margin-left: -($navigation__logo-width--min/2);
      left: 50%;
      @include transition(width height margin-top margin-left);
      @include transition-duration($navigation__transition-duration);

      position: absolute;
      z-index: 1;
    }
  }

  // Desktop + Tablet resolution
  // ---------------------------
  @include media($navigation__breakpoint-sm) {
    body.scrolled & {
      background: $white;
      @include navigation-colors-white(false);
    }
    position: fixed;
    width: 100%;
    height: $navigation__height--min;
    line-height: $navigation__height--min;
    text-align: center;
    font-size: 0.75rem;
    @include transition(height line-height font-size);
    @include transition-duration($navigation__transition-duration);

    .navigation__mobile-trigger {
      display: none;
    }
    .navigation__wrapper {
      display: block;

      .navigation__list {
        vertical-align: middle;
        width: 100%;
        padding: 0;

        // to center around the logo
        padding-left: 2.25rem;
        @include transition(padding);
        @include transition-duration($navigation__transition-duration);

        .navigation__list-item {
          display: inline-block;
          padding: 0 1rem;
          @include transition(padding);
          @include transition-duration($navigation__transition-duration);

          &:nth-child(2) {
            padding-right: 4.2rem;
          }
          &:nth-child(3) {
            padding-left: 4.2rem;
          }

          a.navigation__list-item-link {
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
    }
  }

  // Desktop resolution
  // ------------------
  // expands nav height at top of page, and shrinks again when scrolled
  @include media($navigation__breakpoint-md) {
    body:not(.scrolled) & {
      font-size: 1rem;
      height: $navigation__height--max;
      line-height: $navigation__height--max;
      .navigation__logo {
        width: $navigation__logo-width--max;
        height: $navigation__logo-height--max;
        margin-top: $navigation__height--max * 0.1;
        margin-left: -($navigation__logo-width--max/2);
      }
      ul.navigation__list {
        padding-left: 2.7rem;
        li.navigation__list-item {
          &:nth-child(2) {
            padding-right: 5.7rem;
          }
          &:nth-child(3) {
            padding-left: 5.7rem;
          }
        }
      }
    }
  }
}
