@import '../config/config';

html body {
  height: 100vh;
  font-family: Heiti SC;
  color: $base-text-color;
  background-color: $white;

  strong, b {
    font-weight: bold;
  }

  i, em {
    font-style: italic;
  }

  mark {
    background-color: $base-highlight-color;
  }

  ol, ul {
    margin: 2rem 0;
    padding-left: 1rem;
    ol, ul {
      margin: 1rem 0 0;
      padding-left: 2rem;
    }
  }
  ul {
    list-style-type: circle;
  }
  ol {
    list-style-type: decimal;
  }
  li:not(:last-child) {
    padding-bottom: 1rem;
  }

  a {
    color: $storm;
    &:visited {
      color: $storm;
    }
  }

  h1 {
    font-size: 2.5rem;
    @include media($breakpoint-sm) {
      font-size: 3.5rem;
    }
    @include media($breakpoint-md) {
      font-size: 4.5rem;
    }
  }
  h2 {
    font-size: 2rem;
    @include media($breakpoint-sm) {
      font-size: 3rem;
    }
    @include media($breakpoint-md) {
      font-size: 4rem;
    }
  }
  h3 {
    font-size: 1.66rem;
    @include media($breakpoint-sm) {
      font-size: 2.66rem;
    }
    @include media($breakpoint-md) {
      font-size: 3.5rem;
    }
  }
  h4 {
    font-size: 1.5rem;
    @include media($breakpoint-sm) {
      font-size: 2.33rem;
    }
    @include media($breakpoint-md) {
      font-size: 3rem;
    }
  }
  h5 {
    font-size: 1.33rem;
    @include media($breakpoint-sm) {
      font-size: 2rem;
    }
    @include media($breakpoint-md) {
      font-size: 2.5rem;
    }
  }
  h6 {
    font-size: 1.15rem;
    @include media($breakpoint-sm) {
      font-size: 1.5rem;
    }
    @include media($breakpoint-md) {
      font-size: 2rem;
    }
  }
}


