@import 'bourbon';
@import 'neat';

// BREAKPOINTS
$breakpoint-lg: 1080px;
$breakpoint-md: 800px;
$breakpoint-sm: 600px;

//COLORS
$white: #ffffff;
$black: #000000;

// COMPONENTS
$header-height: 50vw;

$navigation-height: 40px;

$footer-height: 40px;

