@import 'bourbon';
@import 'neat';
@import '../mixins/mixins';

/* Coolors Exported Palette - coolors.co/0d677b-4a4e69-948b99-edbbba-f2e9e4 */
$blue: #0d677b;
$storm: #4a4e69;
$grave: #948b99;
$orange: #fbb37e;
$beige: #f2e9e4;
$sunlight: #FFF785;

// BREAKPOINTS
$breakpoint-lg: 1080px;
$breakpoint-md: 800px;
$breakpoint-sm: 600px;

//COLORS
$white: #ffffff;
$black: #000000;
$grey: $grave;
$grey-light: lighten($grey, 20%);
$grey-lighter: lighten($grey, 35%);

// COMPONENTS
$base-text-color: $black;
$base-link-color: $storm;
$base-highlight-color: $sunlight;

$home__header-height: 75vh;
$page__header-height: 50vh;

$post__header--min-height: 20rem;

$navigation__breakpoint-sm: $breakpoint-sm;
$navigation__breakpoint-md: $breakpoint-md;
$navigation__transition-duration: 0.1s;
$navigation__height--max: 70px;
$navigation__logo-width--max: $navigation__height--max * 0.6;
$navigation__logo-height--max: $navigation__height--max * 0.8;
$navigation__height--min: 40px;
$navigation__logo-width--min: $navigation__height--min * 0.6;
$navigation__logo-height--min: $navigation__height--min * 0.8;

$footer-height: 65px;
