@mixin post-formatting() {
  @include hyphens(auto);
  img {
    width: 100%;
  }
  p {
    line-height: 1.5rem;
    margin: 1.5rem 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin main-content-grid() {
  @include span-columns(10);
  @include shift(1);

  @include media($breakpoint-sm) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($breakpoint-lg) {
    @include span-columns(6);
    @include shift(3);
  }
}

