@import '../mixins/navigation';

@mixin post-formatting() {
  @include hyphens(auto);
  img {
    width: 100%;
  }
  p {
    margin: 1.5rem 0;
    line-height: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  strong, b {
    font-weight: bold;
  }

  i, em {
    font-style: italic;
  }

  mark {
    background-color: $base-highlight-color;
  }

  ol, ul {
    margin: 2rem 0;
    padding-left: 1rem;
    ol, ul {
      margin: 1rem 0 0;
      padding-left: 2rem;
    }
  }
  ul {
    list-style-type: circle;
  }
  ol {
    list-style-type: decimal;
  }
  li:not(:last-child) {
    padding-bottom: 1rem;
  }
}

@mixin main-content-grid() {
  @include span-columns(10);
  @include shift(1);

  @include media($breakpoint-sm) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($breakpoint-lg) {
    @include span-columns(6);
    @include shift(3);
  }
}

