@import '../config/config';

.footer {
  text-align: center;
  height: $footer-height;
  line-height: $footer-height;
  font-size: 0.85rem;
  font-weight: bold;
  .footer__content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}
