@import '../config/config';

.post {
  .post__header {
    position: relative;

    // margin-bottom padding when there is an image
    margin-bottom: 3rem;
    color: $white;
    // adjust title if there is no image
    body.no-cover & {
      color: $base-text-color;
      margin-bottom: 0;
    }

    .post__header-background {
      background-position: center;
      background-size: cover;
      overflow:hidden;
      min-height: $post__header--min-height;

      @include navigation-responsive-height(padding-top);

      .post__header-content {
        @include main-content-grid;
        padding: 2rem 0;
        text-align: center;
        line-height: $post__header--min-height;
        .post__header-content-text {
          display: inline-block;
          vertical-align: middle;
          line-height: normal;
          .post__title {
          }
          .post__date {
            padding-top: 15px;
            display: block;
          }
        }
      }
    }
  }
  .post__wrapper {
    .post__content {
      padding-bottom: 2rem;
      @include post-formatting;
    }
    .post__footer {
    }
  }
  .post__read-other {
    .post__read-other-post {
      padding: 2rem 0 1rem;
      &.post__read-other-post--prev {
        float: right;
      }
      &.post__read-other-post--next {
        float: left;
      }
    }
  }
}
