@import '../config/config';

.blog-list {
  .blog-list__post {
    padding: 2rem 0;
    .blog-list__header {
      text-align: center;
      a {
        text-decoration: none;
      }
    }
    .blog-list__excerpt {
      @include post-formatting;
      h1, h2, h3, h4, h5, h6 {
        font-size: 0.6em;
      }
    }
    .blog-list__read-more-wrapper {
      padding-top: 1rem;
      text-align: center;
      .blog-list__read-more {
        margin-top: 0.7rem;
        display: inline-block;
      }
    }
  }
}
