<header class="header">
  <div
    class="header__background"
    {{! set the background image. Use the blog image if no page image is defined.}}
    {{#if @blog.cover}}
    style="background-image: url({{@blog.cover}})"
    {{/if}}
    >
    <div class="header__content">
      <a class="header__logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
    </div>
  </div>
</header>
