{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="page-podcast">
  {{>page-header}}
  <div class="content__main">
    <h2>
      Podcast page
    </h2>
    <p>
      this is Kasey & Co.
    </p>
  </div>
</div>
