@import '../config/config';

.footer-images {
  padding-top: 2rem;
  text-align: center;
  .footer-images__image-link {
    display: inline-block;
    width: 33.33vw;
    height: 33.33vw;
    background-size: cover;

    &.footer-images__image-link--mobile-hide {
      display:none;
    }

    @include media($breakpoint-sm) {
      width: 16.66vw;
      height: 16.66vw;
      &.footer-images__image-link--mobile-hide {
        display:inline-block;
      }
    }
  }
}
